*{ 
    font-family: 'century gothic';
    font-size: 13px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    background-color: rgb(144, 181, 224);
    font-style: italic;
}

/*body{
    background-image: url("/public/fondoapp.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}*/


th, td {
    padding: 50px;  /* Reducir el padding */
    height: 15px;  /* Altura fija para las filas */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden;
    text-overflow: ellipsis; /* Si el texto es largo, lo corta con "..." */
}

.dashboard-icon {
    margin: 20px;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.dashboard-icon:hover {
    transform: scale(1.1);
}